@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
    exclude: rootscrollgutter;
}

@theme {
    --color-primary-50: #f0f4ff;
    --color-primary-100: #e0e9ff;
    --color-primary-200: #c7d6fe;
    --color-primary-300: #a5b8fc;
    --color-primary-400: #8191f8;
    --color-primary-500: #6366f1;
    --color-primary-600: #4f46e5;
    --color-primary-700: #4338ca;
    --color-primary-800: #3730a3;
    --color-primary-900: #312e81;
    --color-primary-950: #1e1b4b;

    --color-secondary-50: #f0fdfa;
    --color-secondary-100: #ccfbf1;
    --color-secondary-200: #99f6e4;
    --color-secondary-300: #5eead4;
    --color-secondary-400: #2dd4bf;
    --color-secondary-500: #14b8a6;
    --color-secondary-600: #0d9488;
    --color-secondary-700: #0f766e;
    --color-secondary-800: #115e59;
    --color-secondary-900: #134e4a;
    --color-secondary-950: #042f2e;

    --color-accent-50: #fff7ed;
    --color-accent-100: #ffedd5;
    --color-accent-200: #fed7aa;
    --color-accent-300: #fdba74;
    --color-accent-400: #fb923c;
    --color-accent-500: #f97316;
    --color-accent-600: #ea580c;
    --color-accent-700: #c2410c;
    --color-accent-800: #9a3412;
    --color-accent-900: #7c2d12;
    --color-accent-950: #431407;

    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;
    --color-gray-950: #030712;

    --color-information-50: rgba(97,213,248,0.1);
    --color-information-500: #61D5F8;
    --color-information-700: #214e83;

    --color-success-50: rgba(20,250,162,0.1);
    --color-success-500: #22c55e;
    --color-success-700: #15803d;

    --color-warning-50: rgba(250,200,20,0.1);
    --color-warning-500: #FAC814;
    --color-warning-700: #b45309;

    --color-error-50: rgba(240,39,102,0.1);
    --color-error-500: #ef4444;
    --color-error-700: #b91c1c;
}
@plugin "daisyui/theme" {
    color-scheme: "light";
    default: true;

    /* DaisyUI expects these */
    --color-primary: var(--color-primary-500);       /* primary */
    --color-primary-content: var(--color-primary-50);       /* primary content */
    --color-secondary: var(--color-secondary-500);     /* secondary */
    --color-secondary-content: var(--color-secondary-50);
    --color-accent: var(--color-accent-500);        /* accent */
    --color-accent-content: var(--color-accent-50);

    --color-neutral: var(--color-slate-500);         /* neutral */
    --color-neutral-content: var(--color-slate-50);

    --color-base-100: var(--color-slate-50);         /* base 100 */
    --color-base-200: var(--color-slate-100);
    --color-base-300: var(--color-slate-200);
    --color-base-content: var(--color-slate-900);

    --color-info: var(--color-information-500);  /* info */
    --color-info-content: white;
    --color-success: var(--color-success-500);      /* success */
    --color-success-content: white;
    --color-warning: var(--color-warning-500);      /* warning */
    --color-warning-content: white;
    --color-error: var(--color-error-500);       /* error */
    --color-error-content: white;
}
